*.pt filter=lfs diff=lfs merge=lfs -text
# connect i23 nni23nop i32 nipo2p3ino2np io3 nipo23 inop23ino p23


# ahir ii t oie en i niop niope nipoe inop eino nie inpoe npioe ipnoe inpoe
# regain 23 io23n i ni2po3 niop23nip o23pino23npi o23nip o2pin3 op nio23 pnio23i nop23

# hair oi 23io ino23 npio23 iopn23 npio23np io23 nipo23 niop23inp op2 in3o npio23 pnio23 inpo23

# queneyr eio ino3nio  nio3 nio3 ino3 ino3 ino3 ion3 ino 3inoi 3no3
# traash i2 ni3o noi23 ino23 ino23i no23i no23 nio23 nio23 nio23no 3in o2
#
  coin 23 n232ni23 npi23 in23ino23i no2i3 no n23
